.image-gallery {
    margin-top: 1rem;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-overlay {
    padding: 0;margin: 0;
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .image-title {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 1px;
  }